{#
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

#}

<div class="modal fade" id="dagModal" tabindex="-1" role="dialog"
     aria-labelledby="dagModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="dagModalLabel">
          <span id='dag_id'></span>
        </h4>
      </div>
      <div class="modal-body">
        <button id="btn_edit_dagrun" type="button" class="btn btn-primary"
        data-url="{{ url_for('DagModelView.show', pk='') }}">
          Edit
        </button>
        <button id="btn_dagrun_clear" type="button" class="btn btn-primary"
        data-url="{{ url_for('Airflow.dagrun_clear') }}">
          Clear
        </button>
        <button id="btn_dagrun_failed" type="button" class="btn btn-primary"
        data-url="{{ url_for('Airflow.dagrun_failed') }}">
          Mark Failed
        </button>
        <button id="btn_dagrun_success" type="button" class="btn btn-primary"
        data-url="{{ url_for('Airflow.dagrun_success') }}">
          Mark Success
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
